.Logo {
  position: absolute;
  z-index: 0;
  overflow: show;
  white-space: pre;
  line-height: 0.85em;

  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
}

.glitch {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  user-select: none;
  mix-blend-mode: screen;
}

@keyframes shift-1 {
  58%  { left: 5px; }
  59%  { left: 10px; }
  60% { left: 5px;  }
}

@keyframes shift-2 {
  98%  { left: -5px; }
  99%  { left: -10px; }
  100% { left: -5px;  }
}

@keyframes shift-3 {
  98%  { left: 0; }
  99%  { left: -5px; }
  100% { left: 0;  }
}

.glitchCyan {
  left: 5px;
  top: 3px;
  animation: shift-1 4s infinite;
  color: cyan;
}

.glitchMagenta {
  left: -5px;
  top: 5px;
  animation: shift-2 5s infinite;
  color: magenta;
}

.glitchWhite {
  left: 0px;
  top: -4px;
  animation: shift-3 6s infinite;
  color: white;
}